<!DOCTYPE html>

<html>
<header>
	<meta charset="utf-8">
	<title>Abstract Art Generator</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</header>

<body>		
	<img src = "{{ imgUrl }}">
	<form action="/newArt" method="post">
		<button class="btn btn-lg btn-primary" type="button">ANOTHA ONE</button>
	</form>

	<script type="text/javascript">
		$(function(){			
			$('button').click(function(){				
				$.ajax({
					url: '/newArt',					
					type: 'GET',
					complete: function(xhr, textStatus) {
			            console.log('done');
			        },

					error: function(error) {
						console.log(error);
					}
				});
			});
		});
	</script>
</body>
</html>